@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  font-size: 16px;
}

body {
  padding: 1%;
  line-height: 1.5;
  font-family: 'IBM Plex Serif', serif;
  font-size: 1.25em;
}

header {
  text-align: right;
}

footer {
  text-align: center;
}

main {
  max-width: 60ch;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans', sans-serif;
}

hr {
  width: 60ch;
}
